MCP_TITLE=My Example Shop

MAGENTO_BASE_URL=
MAGENTO_INTEGRATION_TOKEN=

# FEATURED_APIS_K=lvl[x]_[scope]__[name]::[http-method]::[http-path]
FEATURED_APIS_0=lvl2_app__list_modules::get::/V1/neutromelabs_mcp/modules
FEATURED_APIS_1=lvl2_app__list_module_files::get::/V1/neutromelabs_mcp/modules/{moduleName}/files
FEATURED_APIS_2=lvl2_app__get_module_file_content::get::/V1/neutromelabs_mcp/modules/{moduleName}/content
FEATURED_APIS_3=lvl2_app__execute_arbitrary_php::post::/V1/neutromelabs_mcp/execute/php
FEATURED_APIS_4=lvl3_env__execute_arbitrary_sql::post::/V1/neutromelabs_mcp/execute/sql
FEATURED_APIS_5=lvl3_env__execute_arbitrary_shell::post::/V1/neutromelabs_mcp/execute/shell