MCP_TITLE=Demo Shop

MAGENTO_BASE_URL=https://your-magento-shop.com
MAGENTO_INTEGRATION_TOKEN=YourIntegrationTokenHere

MAGENTO_PHP_EXECUTABLE=/usr/bin/php
MAGENTO_PHP_VERSION=8.1
MAGENTO_VERSION=2.4.6
MAGENTO_EDITION=CE
MAGENTO_MODE=developer
MAGENTO_FS_ROOT=/var/www/html

# FEATURED_APIS_K=lvl[x]_[scope]__[name]::[http-method]::[http-path]
# FEATURED_APIS_K_DESCRIPTION=Description of the API

# NutromeLabs_Mcp
FEATURED_APIS_100=lvl2_app__list_modules::get::/V1/neutromelabs_mcp/modules
FEATURED_APIS_100_DESCRIPTION=List all enabled modules
FEATURED_APIS_101=lvl2_app__list_module_files::get::/V1/neutromelabs_mcp/modules/{moduleName}/files
FEATURED_APIS_101_DESCRIPTION=List all files in a module
FEATURED_APIS_102=lvl2_app__get_module_file_content::get::/V1/neutromelabs_mcp/modules/{moduleName}/content
FEATURED_APIS_102_DESCRIPTION=Get the content of a file in a module
FEATURED_APIS_103=lvl2_app__execute_arbitrary_php::post::/V1/neutromelabs_mcp/execute/php
FEATURED_APIS_103_DESCRIPTION=Execute arbitrary PHP code
FEATURED_APIS_104=lvl3_env__execute_arbitrary_sql::post::/V1/neutromelabs_mcp/execute/sql
FEATURED_APIS_104_DESCRIPTION=Execute arbitrary SQL code
FEATURED_APIS_105=lvl3_env__execute_arbitrary_shell::post::/V1/neutromelabs_mcp/execute/shell
FEATURED_APIS_105_DESCRIPTION=Execute arbitrary shell commands
FEATURED_APIS_106=lvl2_app__list_logs::get::/V1/neutromelabs_mcp/logs
FEATURED_APIS_106_DESCRIPTION=List all log files from application
FEATURED_APIS_107=lvl2_app__get_log_file_content::get::/V1/neutromelabs_mcp/logs/tail
FEATURED_APIS_107_DESCRIPTION=Get the content of a log file from application (?filePath=system.log&lines=30)

# todo: Magento_Catalog 20
# todo: Magento_Customer 30
# todo: Magento_Sales 40

# Magefan_Blog
FEATURED_APIS_9010=lvl1_rest__get_blog_post_list::get::/V1/blog/post/list/{type}/{term}/{store_id}/{page}/{limit}
FEATURED_APIS_9010_DESCRIPTION=Get a list of blog posts via Magefan_Blog (keep type and term empty, store_id=0)
FEATURED_APIS_906=lvl1_rest__create_blog_post::post::/V1/blog/post
FEATURED_APIS_906_DESCRIPTION=Create a blog post via Magefan_Blog
FEATURED_APIS_907=lvl1_rest__update_blog_post::put::/V1/blog/post/{id}
FEATURED_APIS_907_DESCRIPTION=Update a blog post via Magefan_Blog
FEATURED_APIS_908=lvl1_rest__delete_blog_post::delete::/V1/blog/post/{id}
FEATURED_APIS_908_DESCRIPTION=Delete a blog post via Magefan_Blog
FEATURED_APIS_909=lvl1_rest__get_blog_post::get::/V1/blog/post/{id}
FEATURED_APIS_909_DESCRIPTION=Get a blog post via Magefan_Blog
FEATURED_APIS_910=lvl1_rest__view_blog_post::get::/V1/blog/post/view/{id}/{store_id}
FEATURED_APIS_910_DESCRIPTION=View a blog post for a specific store via Magefan_Blog
FEATURED_APIS_911=lvl1_rest__create_blog_category::post::/V1/blog/category
FEATURED_APIS_911_DESCRIPTION=Create a blog category via Magefan_Blog
FEATURED_APIS_912=lvl1_rest__update_blog_category::put::/V1/blog/category/{id}
FEATURED_APIS_912_DESCRIPTION=Update a blog category via Magefan_Blog
FEATURED_APIS_913=lvl1_rest__delete_blog_category::delete::/V1/blog/category/{id}
FEATURED_APIS_913_DESCRIPTION=Delete a blog category via Magefan_Blog
FEATURED_APIS_914=lvl1_rest__get_blog_category::get::/V1/blog/category/{id}
FEATURED_APIS_914_DESCRIPTION=Get a blog category via Magefan_Blog
FEATURED_APIS_915=lvl1_rest__view_blog_category::get::/V1/blog/category/view/{id}/{store_id}
FEATURED_APIS_915_DESCRIPTION=View a blog category for a specific store via Magefan_Blog
FEATURED_APIS_916=lvl1_rest__get_blog_category_list::get::/V1/blog/category/list/{type}/{term}/{store_id}/{page}/{limit}
FEATURED_APIS_916_DESCRIPTION=Get a list of blog categories via Magefan_Blog